<% if  @service.errors.any? %>
  $('#new_resoruce_error_explanation').empty();
  $('#new_resoruce_error_explanation').append("<%= escape_javascript render(:partial => 'resources/errors', :locals => { :resource => @service }) %>");
<% else %>
  $('#new_resoruce_error_explanation').empty();
  $('[id^="draggable-element-"]').remove();
  $("#services-widget").append("<%= escape_javascript render(:partial => 'home/services', :locals => { :services => @services }) %>");
  $("#notifications_id").empty();
  $("#notifications_id").append('<div class="alert alert-success" role="alert">Successfully done!</div>');
  $("#notifications_id").fadeIn(3000).delay(5000).fadeOut('slow');


  makeDraggable();
<% end%>
