
<br />
<h2>Deployment View </h2>
<br />
<div id="notifications_id" style="display: none;" ></div>

<div class="container" style="margin: 0; margin-right: 0; max-width: 100%">
  <div class="row">
    <div class="col-2" >
      <div id="home_resources_display" style="border-style: solid;border-radius: 7px;">
          <%= render :file => 'home/_resources' %>
      </div>
      <br />
      <button class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#newResource">New resource</button>
    </div>
    <div class="col-10" style="padding-left: 0;">
      <div style="border-style: dashed; border-radius: 5px; height: 100%; overflow: auto;" id="services-widget">
        <%= render :file => 'home/_services' %>
        <div class="deploy-buttons">
          <button type="button" class="btn btn-outline-success">Deploy all</button>
          <button type="button" class="btn btn-outline-danger">Undeploy all</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <br />
      <div id="messages" class="console-view" />
    </div>
  </div>
</div>




<div class="modal fade" id="newResource" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header alert-primary" style="border-top-right-radius: 2px; border-top-left-radius: 2px;">
        <h5 class="modal-title" id="exampleModalLabel">New resource</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close_resource_button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render :file => 'home/_new_resource' %>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="serviceSettings" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header alert-primary"  style="border-top-right-radius: 2px; border-top-left-radius: 2px;>
        <h5 class="modal-title" id="serviceSettingTitle">Service settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close_service_button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        aqui
      </div>
    </div>
  </div>
</div>
