/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

nav.navbar{
  background-color: #123456 !important;
  height: 60px;
}

.navbar-brand{
  color: white !important;
  font-size: 2em !important;
  text-transform: capitalize;

}

body{
  margin-top: 60px;
}


.icon-upload {
    background-color: blue;
    -webkit-mask:  url(cloud-upload.svg) no-repeat 50% 50%;
    mask: url(trashcan.svg) no-repeat 50% 50%;
}

.login{
    height: 100vh;
    margin-top: -60px;
    text-align: center;
}

h2.login{
  padding-top: 20%;
}

.small-img{
  max-width: 30px;
  max-height: 30px;
}

.pending{
  background-color: #e7e8ea !important;
}

.error{
  background-color: #f5c6cb !important;
  color: #721c24 !important;
  border-color: #721c24;
}


.deploying{
  background-color: #fff3cd !important;
  color: #856404 !important;
  border-color: #856404;
  -webkit-animation: DEPLOYING-SERVICE 2s infinite;  /* Safari 4+ */
  -moz-animation: DEPLOYING-SERVICE 2s infinite;  /* Fx 5+ */
  -o-animation: DEPLOYING-SERVICE 2s infinite;  /* Opera 12+ */
  animation: DEPLOYING-SERVICE 2s infinite;
}

.deployed{
  background-color: #d4edda !important;
  color: #155724 !important;
  border-color: #155724;
}

.card{
  padding: 0;
}

.card-body{
  background-color: white;
  color: black;
}


.green-image{
  fill: darkslateblue;
}


.deploy-buttons{
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 10px;
  padding-right: 25px;
}

@-webkit-keyframes DEPLOYING-SERVICE {
  0%, 49% {
    background-color: #ffeeba;
  }
  50%, 100% {
    background-color: #ffe69e;
  }
}
