// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.console-view{
  color: white;
  background-color: black;
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;

}
